html {
  height: 100%;
}

body {
  /*background-color: lightblue;*/
  height: 100%;
  margin: 0;

  display: flex;
  flex-direction: row;
}

body > div {
  margin: 10px;
}

h2 {
  margin: 0 5px;
}

#main {
  min-width: 500px;
  min-height: 500px;
}



#sidebar {
  display: inline-flex;
  flex-direction: column;
}

#sidebar > div {
  min-height: 80px;
  margin-bottom: 10px;
  padding: 10px;
}



#source > div {
  /*min-height: 200px;*/
  display: inline-flex;
}

#source_choice {
  min-width: 136px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#source_options {
  min-width: 281px;
  margin-left: 10px;
  border-left: 1px solid #CCC;
  padding-left: 10px;
}

#source_options > div {
  height: 210px;
}

#source_file_tab {
  height: 100%;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#source_random_tab {

  height: 100%;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#source_random_tab > div {
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
}

#source_random_tab input[type=number]{
  width: 48px;
}

#source_random_tab select{
  margin-left: 10px;
}

#source_random_tab label {
  margin-right: 4px;
}

#generate {
  width: 100%;
  text-align: center;
}

#source_random_tab button {
  align-self: center;
  padding: 4px 8px;
  background-color: #DFDFDF;
  border: 1.4px solid #333;
  box-shadow: 2px 2px #AAA;
  cursor: pointer;
}

#source_random_tab button:hover {
  background-color: lightblue;
}

#viz > div {
  margin-top: 10px;
}

#viz_choice {

  display: flex;
}

#viz label {
  white-space: nowrap;
  margin-right: 5px;
}

#viz input[type=number] {
  width: 60px
}

#viz_color  {
  display: flex;
  align-items: center;
}

#viz_scale {
  display: inline-block;
}

#viz_scale  a{

  padding: 6px 10px;
  cursor: pointer;
  background-color: white;
  width: 100px;
  text-align: center;
}


.dropdown {
  overflow: hidden;
}

.dropdown a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.dropdown .dropbtn {
  border: 1.4px solid #333;
  display: inline-block;
}
.dropdown:hover .dropbtn {
  background-color: #DFDFDF;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  margin: 1.4px;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd !important;
}
.dropdown:hover .dropdown-content {
  display: block;
}


.sep {
  flex:1;
}


.box {
  border: 2px solid #333;
  box-shadow: 4px 4px #AAA;  
}