/* ==== Top-level elements ==== */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(128,128,128,0.3);
  text-align: center;
}

#loading > div {
  display: inline-block;
  margin: auto;
  margin-top: 25%;
  padding: 10px;
  padding-right: 20px;
  font-size: large;
  background-color: white;
  border: 1px solid black;
}

/* loading dots */

#loading > div:after {
  content: '.';
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: black;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 black;}}

#main {
  min-width: 500px;
  min-height: 500px;
}

#sidebar {

  min-width: 325px;
}

/* ==== Data source tab elements ==== */


#source_file_tab {
  display: flex;
}

#source_random > div {
  margin: 3px 5px;
  display: flex;
  justify-content: space-between;
}


/* ==== Visualization tab elements ==== */

/* ---- Grid/overlap handling ---- */

#viz_grid_params, #viz_color {
  display: flex;
}

#viz_tab > .box > div {

  margin: 3px 5px;
}

/* ---- Color scale handling ---- */

#viz_color  {
  display: flex;
  align-items: center;
}

#viz_scale {
  display: inline-block;
}

#viz_scale  a{

  padding: 6px 10px;
  cursor: pointer;
  background-color: white;
  width: 100px;
  text-align: center;
}

/* ---- Tooltip ---- */
.tooltip {
  display: none;
  float:left;
  position: absolute;
  margin: 20px 0 !important;
  padding: 10px;
}


/* ==== Evaluation tab elements ==== */


/* ==== Common elements ==== */

/* ---- Tab handling ---- */

#tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #333;
  font-size: 0; /* white space fix */
}

#tabs li {
  display: inline-block;
  margin: 2px 1px 0;
  padding: 4px 6px;
  border: 1.4px solid #333;
  border-bottom: none;
/*  border-top-left-radius: 4px;
  border-top-right-radius: 4px;*/
  font-size: initial; /* white space fix */
  cursor: pointer;
}

#tabs li.disabled {
  background-color: #DFDFDF;
}

#tabs li:hover:not(.active) {
  background-color: lightblue;
}

#tabs .active {
  border-bottom: 2px solid white;
  margin-bottom: -2px;
  cursor: default;
}

/* ---- Radiobox handling ---- */

.radiobox {
  padding-bottom: 10px;
}

.radiobox:not(.active) {
  background-color: #DFDFDF;
  cursor: pointer;
}

.radiobox:not(.active):hover, .radiobox:not(.active):hover *{
  background-color: lightblue !important;
}

/* ---- Dropdown select handling ---- */

.dropdown {
  overflow: hidden;
}

.dropdown a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.dropdown .dropbtn {
  border: 1.4px solid #333;
  display: inline-block;
}
.dropdown:hover .dropbtn {
  background-color: #DFDFDF;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  margin: 1.4px;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd !important;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* ---- Misc visual helpers ---- */

h3 {
  margin:  5px;
}

label {
  margin-left: 5px;
}

input[type=number] {
  width: 60px;
}

.sep {
  flex:1;
}

.box {
  margin: 10px;
  border: 2px solid #333;
  box-shadow: 4px 4px #AAA;
}

.tab_content button {
  margin: 10px auto;
  padding: 8px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 4px 8px;
  background-color: #DFDFDF;
  border: 1.4px solid #333;
  box-shadow: 2px 2px #AAA;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: lightblue;
}






/*
#viz > div {
  margin-top: 10px;
}

#viz_choice {

  display: flex;
}

#viz label {
  white-space: nowrap;
  margin-right: 5px;
}

#viz input[type=number] {
  width: 60px
}



*/
